main {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 35em auto;
    grid-template-rows: 50% 50%;
}

.panel {
    padding: 1em;
    border: solid black 3px;
    overflow-y: auto;
    overflow-x: auto;
}

.players-panel {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.panel ul {
    list-style-type: none;
    padding: 0;
}

.panel li {
    line-height: 2;
    position: relative;
}

.panel li button {
    float: right;
}

.panel label {
    margin-right: 1em;
}

.games-panel {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}

.board-panel {
    grid-row: 1 / span 2;
    grid-column: 2 / 2;
    display: grid;
    justify-items: center;
    align-items: center;
}

.space {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 72px;
    border: solid black 2px;
    text-align: center;
    line-height: 1em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dark {
    background: #DDD;
}

.highlighted {
    background: yellow;
}

.selected {
    background: cyan;
}